{% extends './main.html' %} {% block home %}{% load static %}
<section>
    <div class="sec_home">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#" class="nav-link">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">درباره ما</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">تماس با ما</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="sec_home_body"></div>
        <div class="sec_home_down">
            {% for data in service_data %}
            <div class="service_data">
                <p class="service_name">
                    {{data.name}}
                </p>
                <img src="{{data.image.url}}" alt class="service_img">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>
<section>
    <div class="sec_project">
        <div class="sec_project_top">
            <p class="product_title">
                اعتماد، پلی برای ارتباط موثر
            </p>
            <p class="product_description">
                اعتماد شما ارزشمندترین دارایی ماست. با بیش از بیست سال تجربه و تعهد به کیفیت، ما به رضایت و اطمینان شما
                از محصولات و خدماتمان اولویت می‌دهیم. از انتخاب شما برای همراهی با ما سپاسگزاریم.
            </p>
        </div>
        <div class="sec_project_down">
            <div class="grid">
                {% for data in company_data %}
                <div class="grid-item">
                    <img src="{{data.image.url}}" alt class="grid_img">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="sec_text">
        <div class="text_top">
            <p class="text_title">به شرکت ما خوش آمدید</p>
            <p class="text_des">
                در شرکت ما، به طراحی، پیاده‌سازی و پشتیبانی از سیستم‌های شبکه و دوربین‌های مداربسته متمرکزیم. با بهره‌گیری از تکنولوژی‌های روز دنیا و تیم متخصص ما، ما به ارائه راهکارهایی برای امنیت، اطمینان و کارایی بیشتر برای مشتریانمان می‌پردازیم.
        در زمینه دوربین‌های مداربسته، ما به عنوان یکی از پیشگامان با ارائه دوربین‌هایی با کیفیت بالا، قابلیت‌های پیشرفته مانند دید در شب، ضد آب و مقاوم در برابر شرایط مختلف جوی را فراهم می‌آوریم. این دوربین‌ها با استفاده از فناوری‌های پیشرفته مانند تصویربرداری با رزولوشن بالا و قابلیت ضبط و ذخیره‌سازی اطلاعات، امکان مانیتورینگ و نظارت بهتر را فراهم می‌کنند.
        همچنین، توانایی طراحی و پیاده‌سازی شبکه‌های ارتباطی پیچیده و امنیتی را داریم. از شبکه‌های کابلی گرفته تا شبکه‌های بی‌سیم و شبکه‌های ابری، ما به مشتریانمان راهکارهایی ارائه می‌دهیم که به آن‌ها امکان ارتباطات سریع، پایدار و امن را می‌دهد.
        در پایان، تیم نرم‌افزاری ما نیز با توانایی‌های برنامه‌نویسی پیشرفته، به طراحی و توسعه نرم‌افزارهای مدیریتی و نظارتی برای سیستم‌های شبکه و دوربین‌های مداربسته می‌پردازد. این نرم‌افزارها امکان مانیتورینگ و مدیریت بهتری را برای کاربران فراهم می‌آورند و اطمینان از امنیت و کارایی سیستم را به آن‌ها می‌دهند.
        با شرکت ما همراه شوید و از تجربه‌ای بی‌نظیر در زمینه سیستم‌های شبکه، دوربین‌های مداربسته و نرم‌افزارهای مدیریتی بهره‌مند شوید. برای اطلاعات بیشتر و مشاوره رایگان، با ما تماس بگیرید.
            </p>
        </div>
        <div class="text_down">
            <div class="scroller" data-direction="right" data-speed="fas">
                <div class="scroller__inner">
                    {% for data in product_data %}
                    <div class="prodect_item">
                        <img src="{{data.image.url}}" alt class="product_img">
                    </div>
                    {% endfor %}
                    {% for data in product_data %}
                    <div class="prodect_item">
                        <img src="{{data.image.url}}" alt class="product_img">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="sec_stunnig">
        <div class="expanding-flex-cards">
            <div class="expanding-flex-cards-item active">
                <img src="static/image/1.png" alt="" class="expanding-flex-cards-item-img">
                <div class="expanding-flex-cards-item-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="expanding-flex-cards-item-footer">
                    <div class="expanding-flex-cards-icon">1</div>
                    <div class="expanding-flex-cards-title">Card Item 1</div>
                </div>
            </div>
            <div class="expanding-flex-cards-item">
                <img src="static/image/2.png" alt="" class="expanding-flex-cards-item-img">
                <div class="expanding-flex-cards-item-body">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="expanding-flex-cards-item-footer">
                    <div class="expanding-flex-cards-icon">2</div>
                    <div class="expanding-flex-cards-title">Card Item 2</div>
                </div>
            </div>
            <div class="expanding-flex-cards-item">
                <img src="static/image/3.png" alt="" class="expanding-flex-cards-item-img">
                <div class="expanding-flex-cards-item-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="expanding-flex-cards-item-footer">
                    <div class="expanding-flex-cards-icon">3</div>
                    <div class="expanding-flex-cards-title">Card Item 3</div>
                </div>
            </div>
            <div class="expanding-flex-cards-item">
                <img src="static/image/1.png" alt="" class="expanding-flex-cards-item-img">
                <div class="expanding-flex-cards-item-body">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="expanding-flex-cards-item-footer">
                    <div class="expanding-flex-cards-icon">4</div>
                    <div class="expanding-flex-cards-title">Card Item 4</div>
                </div>
            </div>
            <div class="expanding-flex-cards-item">
                <img src="static/image/2.png" alt="" class="expanding-flex-cards-item-img">
                <div class="expanding-flex-cards-item-body">
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <div class="expanding-flex-cards-item-footer">
                    <div class="expanding-flex-cards-icon">5</div>
                    <div class="expanding-flex-cards-title">Card Item 5</div>
                </div>
            </div>
        </div>
    </div> -->
</section>
<section>
    <div class="sec_tab">
        <div class="sec_tab_top">
            <div class="button_container">
                <button onclick="showPanel(0,'#FFFFFF')">برنامه نویسی</button>
                <button onclick="showPanel(1,'#FFFFFF')">شبکه</button>
                <button onclick="showPanel(2,'#FFFFFF')">دوربین</button>
            </div>
        </div>
        <div class="sec_tab_down">
            <div class="tab_panel">
                <div class="programm">
                    <div class="programm_top">
                        <p class="programm_description">
                            در فرا سیستم، افتخار داریم که به عنوان یکی از پیشروهای صنعت فناوری اطلاعات و برنامه نویسی، در خدمت شما هستیم. از زمان تأسیس تاکنون، ماموریت ما همواره به عنوان یک تیم ارائه دهنده‌ی راهکارهای نرم‌افزاری متمرکز بر کیفیت، کارآیی و نوآوری بوده است.
                            در فرا سیستم، ما به ایجاد راهکارهای نرم‌افزاری سفارشی برای مشتریان از صنایع مختلف می‌پردازیم. با توجه به نیازهای منحصر به فرد هر مشتری، تیم ما از تجربه و تخصص خود برای ارائه‌ی راهکارهایی بر اساس فناوری‌های مدرن استفاده می‌کند که به بهبود عملکرد و رشد کسب و کار شما کمک می‌کند.
                            ما با اعتقاد به ارزش‌های مشترک و شراکت درازمدت، با همکاری و هماهنگی نزدیک با مشتریانمان، به دنبال رسیدن به اهداف مشترک هستیم. هدف ما ارائه‌ی راهکارهایی است که نه تنها نیازهای فعلی شما را برآورده می‌کند، بلکه به شما امکان می‌دهد تا در مقابل چالش‌های آینده نیز مقاومت کنید و رشد خود را ادامه دهید.
                            از اینکه شما را در مسیر دیجیتالی خود همراهی می‌کنیم، خوشحالیم و امیدواریم که با ارائه‌ی خدماتی بی‌نظیر، ارتباط مثمر و تعامل مستمر، بتوانیم شما را در رسیدن به اهدافتان یاری نماییم.
                        </p>
                    </div>
                    <div class="programm_down">
                        {% for data in program_data %}
                        <div data-text="Thanks for hovering! I'm a tooltip" class="tooltip">
                            <div class="avatar" data-tooltip="{{data.name}}">
                                <a>
                                    <img class="program_img" src="{{data.image.url}}" alt>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab_panel"></div>
            <div class="tab_panel">
                <div class="camera_page">
                
                    <div class="camera_grid">
                        {% for data in camera_filter %}
                        <div class="camera_grid_item">
                            <div class="camera_grid_item_top">
                                <img src="{{data.logo.url}}" alt class="camera_grid_logo">
                            </div>
                            <div class="camera_grid_item_down">
                                <img src="{{data.image.url}}" alt class="camera_grid_img">
                                <p class="camera_title">{{data.title}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="load_more_camera">
                        <a class="load_more_camera_title" href="{% url 'more_camera' %}"> ..... موارد بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="sec_activity">
        <div class="sec_activity_border">
            <div class="sec_activity_border_item"></div>
        </div>
        <div class="sec_activity_top">
            <p>خدمات ما</p>
        </div>
        <div class="sec_activity_down">
            <div class="activity_grid">
                {% for data in activity_data %}
                <div class="activity_grid_item">
                    <p>{{data.name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="sec_activity_organ">
            <div class="sec_activity_organ_top">
                <p>تعدادی از مشتریان ما</p>
            </div>
            <div class="sec_activity_organ_down"></div>
            <!-- <div class="sec_activity_organ_border"></div> -->
        </div>
    </div>
</section>
<section>
    <div class="sec_fotter"></div>
</section>
{% endblock home %}
