.sec_home {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.sec_home_header {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_home_down {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #03061E;
}

.sec_home_body {
    flex-grow: 1;
    /* height: 35rem;
    width: 100%; */
    display: flex;
    background-color: #ffffff;
    position: relative;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 40px; */
}

header {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #848484;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-family: vazir;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.nav-link:hover {
    color: #000;
    font-weight: bold;
    font-family: vazir;
}

.scroller {
    max-width: 100%;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="veryfast"] {
    --_animation-duration: 10s;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 40s;
}

.scroller[data-speed="veryslow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

/* html {
    color-scheme: dark;
} */

/* body {
    display: grid;
    min-block-size: 100vh;
    place-content: center;
    font-family: system-ui;
    font-size: 1.125rem;
    background-color: var(--clr-primary-800);
} */

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
    background: red !important;
}

.service_img {
    height: 30px;
    /* background-color: rgb(244, 244, 255); */
    /* border-radius: 100px; */
    padding: 5px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
}

.service_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.service_name {
    color: #ffffff;
    font-family: vazir;
    font-size: small;
}

/* animation background */
.absolute {
    position: absolute;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
}


.justify-center {
    justify-content: center;
}

.bg-shape1 {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    animation: one 10s infinite;
}

.bg-shape2 {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    animation: two 10s infinite;
}

@keyframes one {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: -100px;
        top: 70px;
    }

    50% {
        left: 20px;
        top: 150px;
    }

    75% {
        left: 50px;
        top: 100px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes two {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 50px;
        top: 10px;
    }

    50% {
        left: 100px;
        top: 50px;
    }

    75% {
        left: 50px;
        top: 100px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.opacity-50 {
    opacity: 0.5;
}

.bg-blur {
    filter: blur(99px);
}

.bg-primary {
    background-color: rgba(255, 0, 0, 0.171);
}

.bg-teal {
    background-color: rgba(47, 0, 255, 0.192);
}

.bg-purple {
    background-color: rgba(187, 255, 0, 0.178);
}


/* animation text */
h2 {
    position: relative;
    font-size: 50px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px #ececec;
    text-transform: uppercase;
    font-family: vazir;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* font-size: 50px; */
    color: #03061E;
    -webkit-text-stroke: 0vw #b3b3b3;
    border-right: 1px solid #03061E;
    overflow: hidden;
    animation: animate 6s linear infinite;

}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}


/* center body */
.body_on_background {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home_des {
    font-size: 20px;
    font-weight: normal;
    font-family: vazir;
    color: #424242;
    padding: 40px;
    direction: rtl;
    justify-content: center;
}

.contact_me {
    height: 60px;
    width: 150px;
    margin-right: 40px;
    color: #000000;
    border-radius: 5px;
    background-color: #F5F7F8;
    border: 1px #c4c4c4 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.contact_me:hover {
    border: 0px #000 solid;
    background-color: #678efe;
    color: #ffffff;
    cursor: pointer;
}

.home_title {
    font-size: 50px;
    font-weight: bold;
    font-family: vazir;
    color: #03061E;
    direction: rtl;
    padding-right: 40px;
}

.body_on_background img {
    height: 600px;
}


.body_on_background h2 {
    font-family: vazir;
    font-size: 50px;
}

.body_on_background_left {
    display: flex;
    flex-direction: column;
    /* background-color: #3c3c3c; */
}

.body_on_background_left_top {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_on_background_left_down {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.body_on_background_description {
    font-family: vazir;
    font-size: 20px;
    direction: rtl;
    color: #3c3c3c;
    justify-content: center;
    align-items: center;
    margin: 100px;
    text-align: center;
}

.body_on_background_follow_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body_down_img {
    height: 700px;
}

.body_on_background_follow {
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0022ff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.body_on_background_follow:hover {
    background-color: #000d63;
    cursor: pointer;
}

.body_on_background_follow p {
    font-family: vazir;
    color: #000000;
    font-weight: bold;
}

.body_on_background_top {
    height: 45rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: #0022ff; */
}

.body_on_background_down {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-left: 50px;
    padding-right: 100px;
    /* background-color: #ff0000; */
}


/* card home */
.card p {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    font-family: vazir;
    direction: rtl;
    padding-bottom: 10px;
}

.card p.small {
    font-size: 14px;
    font-family: vazir;
    direction: rtl;
    color: #383838;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #03061E;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #F5F7F8;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #03061E;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before {
    transform: scale(21);
}

.card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
}

/* social_medai */

.home_socialmedia_item {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.home_socialmedia_item img {
    height: 25px;
    transition: all 0.2s ease-out;
}

.home_socialmedia_item img:hover {
    height: 30px;
    cursor: pointer;
}

/* 
.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding-top: 50px;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 64px;
    height: 64px;
    text-decoration: none;
    border-radius: 100%;
    background: #F5F7F8;
    text-align: center;
}

.social-button::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
    color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button i {
    font-size: 25.6px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}

.social-button--mail {
    color: #0072c6;
}

.social-button--mail::after {
    background: #0072c6;
}

.social-button--facebook {
    color: #3b5999;
}

.social-button--facebook::after {
    background: #3b5999;
}

.social-button--linkedin {
    color: #0077b5;
}

.social-button--linkedin::after {
    background: #0077b5;
}

.social-button--github {
    color: #6e5494;
}

.social-button--github::after {
    background: #6e5494;
}

.social-button--codepen {
    color: #212121;
}

.social-button--codepen::after {
    background: #212121;
}

.social-button--steam {
    color: #7da10e;
}

.social-button--steam::after {
    background: #7da10e;
}

.social-button--snapchat {
    color: #eec900;
}

.social-button--snapchat::after {
    background: #eec900;
}

.social-button--twitter {
    color: #55acee;
}

.social-button--twitter::after {
    background: #55acee;
}

.social-button--instagram {
    color: #e4405f;
}

.social-button--instagram::after {
    background: #e4405f;
}

.social-button--npmjs {
    color: #c12127;
}

.social-button--npmjs::after {
    background: #c12127;
} */





a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}