.sec_project {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grid {
    width: 900px;
    display: grid;
    background: #D7D7D7;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 1px;
  }
  
  .grid-item {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }