.sec_tab {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.sec_tab_top {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.sec_tab_down {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_tab_top .button_container button {
    height: 90%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: vazir;
    font-size: 15px;
    font-weight: normal;
    background-color: #ffffff;
    color: #b3b3b3;
    transition: all 0.2s ease-in-out;
}

.sec_tab_top .button_container button:hover {
    font-weight: bold;
    color: #03061E;
}

.sec_tab_down .tab_panel {
    width: 100%;
    height: 90%;
    text-align: center;
    color: #03061E;
    font-family: vazir;
    font-size: 20px;
    display: none;
    padding: 10px 100px 10px 100px;
}

.camera_page {
    display: flex;
    flex-direction: column;

}

.camera_grid {
    /* width: 100%; */
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

}

.camera_grid_item {
    background: #F5F7F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition-duration: 200ms;
}

.camera_grid_item_top {
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
}

.camera_grid_item_down {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera_grid_img {
    height: 140px;
    transition-duration: 200ms;
}

.camera_grid_logo {
    height: 50px;
    transition-duration: 200ms;
}

.camera_grid_item:hover {
    background: #e0e4e6;
    cursor: pointer;
}

.camera_title {
    font-size: 12px;
    transition-duration: 200ms;
    font-family: "Anton", sans-serif;
    padding-bottom: 10px;
}

.load_more_camera {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.load_more_camera_title {
    color: blue;
    font-size: 15px;
    font-weight: normal;
    transition-duration: 200ms;
}

.load_more_camera_title:hover {
    color: #03061E;
    cursor: pointer;
    font-weight: bold;
}